
@font-face {
  font-family: 'Amita';
  src: url('./fonts/amita-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amita';
  src: url('./fonts/amita-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Adamina';
  src: url('./fonts/adamina/Adamina-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
